@media screen and (min-width: 550px) {
    .form-btn{
        padding: 7px;
        font-size: 1em;
    }

    input, textarea, label{
        padding: 15px;
        font-size: 1em;
    }
  }

  @media screen and (min-width: 850px) {
    .form-btn{
        padding: 7px;
        font-size: 1.2em;
    }

    .contact-h1{
        font-size: 3em;
    }

    .contact-p{
        font-size: 1.3em;
    }

    label{
        font-size: 1.2em;
    }
  }


  @media screen and (min-width: 1200px) {
    .contact-p{
        width: 50%;
    }
  }
